.form-content {
  width: 100%;
}

.field-group {
  width: 100%;
}

.full-width {
  width: 100%;
}

:host ::ng-deep .field-group .p-floatlabel {
  display: block;
  width: 100%;
}

:host ::ng-deep .field-group .p-inputtext {
  width: 100%;
}
