<div class="form-container">
    <div class="form-header">
        <h4 class="form-title">
                 {{ isEditMode ? 'Edit Category' : 'Add Category' }}
        </h4>
    </div>

    <form [formGroup]="categoryform" class="form-content">
        <div class="field-group">
            <p-floatlabel variant="on">
                <input
                    id="category-name"
                    pInputText
                    class="full-width"
                    formControlName="Name"
                    type="text"
                    autocomplete="off"
                />
                <label for="category-name">Category Name</label>
            </p-floatlabel>
            <p-message
                *ngIf="categoryform.get('Name')?.invalid && categoryform.get('Name')?.touched"
                severity="error"
                size="small"
                variant="simple"
                text="Please enter a valid category name"
            ></p-message>
        </div>
    </form>
</div>