<p-card header="Subcategories" class="mb-4">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="15">
      <p-metergroup [max]="subcategory.length" />
    </div>
    <div fxFlex="10" fxLayoutAlign="end center">
      <p-button severity="primary" type="button" (click)="AddSubcategory()"> Add </p-button>
    </div>
  </div>

  <p-divider />
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
    <ng-container matColumnDef="CategoryName">
      <th mat-header-cell *matHeaderCellDef>Category Name</th>
      <td mat-cell *matCellDef="let categories">{{ categories.Name }}</td>
    </ng-container>
    <ng-container matColumnDef="SubCategoryName">
      <th mat-header-cell *matHeaderCellDef>Subcategory Name</th>
      <td mat-cell *matCellDef="let subcategory">{{ subcategory.Name }}</td>
    </ng-container>
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let subcategory">
        <p-badge *ngIf="subcategory.Status" value="Active" severity="success"></p-badge>
        <p-badge *ngIf="!subcategory.Status" value="Inactive" severity="danger"></p-badge>
      </td>
    </ng-container>

    <ng-container matColumnDef="Image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let subcategory">
        <img [src]="subcategory.ImageUrl" alt="Subcategory Image" class="image" />
      </td>
    </ng-container>
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let subcategory">
        <button
          mat-icon-button
          color="primary"
          type="button"
          (click)="onEditSubcategory(subcategory.Id)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" type="button">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20, 50]"
    [pageSize]="5"
    showFirstLastButtons
  ></mat-paginator>
</p-card>
