.card-header {
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

:host ::ng-deep .p-card-body {
  table {
    width: 100%;
  }
}
