<p-card>
  <ng-template pTemplate="header">
    <div class="card-header header-content">
      <div>
        <h2 class="p-card-title m-0">Categories List</h2>
        <p class="p-card-subtitle text-color-secondary m-0">
          Total Categories {{ category.length }}
        </p>
      </div>
      <p-button icon="pi pi-plus" label="Add" (onClick)="AddCategory()"></p-button>
    </div>
  </ng-template>
  <p-table
    [value]="category"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20, 50]"
    styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th style="width: 8rem">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
      <tr>
        <td>{{ category.name }}</td>
        <td>{{ category.status ? 'Active' : 'Inactive' }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            severity="secondary"
            (onClick)="openEditCategory(category)"
            ariaLabel="Edit"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            [rounded]="true"
            [text]="true"
            severity="danger"
            ariaLabel="Delete"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
