<p-card header="Categories">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="15">
      <h6>Total Categories {{ categories.length }}</h6>
    </div>
    <div fxFlex="10" fxLayoutAlign="end center">
      <p-button severity="primary" type="button" (click)="AddCategory()"> Add </p-button>
    </div>
  </div>

  <p-divider />

  <p-table
    [value]="categories"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20, 50]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
    [responsiveLayout]="'scroll'"
    [tableStyle]="{ 'min-width': '60rem' }"
    sortMode="multiple"
  >
    <ng-template #header>
      <tr>
        <th pSortableColumn="Name" scope="col">
          <div class="flex items-center gap-2">
            Name
            <p-sortIcon field="Name" />
          </div>
        </th>

        <th pSortableColumn="Status" scope="col">
          <div class="flex items-center gap-2">
            Status
            <p-sortIcon field="Status" />
          </div>
        </th>

        <th scope="col">
          <div class="flex items-center gap-2">Action</div>
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-category>
      <tr>
        <td>{{ category.Name }}</td>
        <td>
          <p-badge *ngIf="category.Status" value="Active" severity="success" />
          <p-badge *ngIf="!category.Status" value="Inactive" severity="danger" />
        </td>
        <td>
          <button
            pButton
            icon="pi pi-pencil"
            class="p-button-rounded p-button-primary p-mr-2"
            (click)="onEditCategory(category.Id)"
          ></button>
          <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
