<div class="login-container" *ngIf="loginForm">
  <p-card class="login-card">
    <ng-template pTemplate="header">
      <div class="p-card-title justify-content-center">Login</div>
    </ng-template>
    <div [formGroup]="loginForm" class="login-form">
      <span class="p-float-label full-width">
        <input pInputText id="email" formControlName="Email" type="email" class="full-width" />
        <label for="email">Email</label>
      </span>
      <small class="p-error" *ngIf="loginForm.get('Email')?.invalid && loginForm.get('Email')?.touched">Please enter a valid email</small>

      <span class="p-float-label full-width">
        <input pInputText id="password" formControlName="Password" type="password" class="full-width" />
        <label for="password">Password</label>
      </span>
      <small class="p-error" *ngIf="loginForm.get('Password')?.invalid && loginForm.get('Password')?.touched">Password is required</small>
    </div>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-end gap-3">
        <p-button label="Cancel" severity="secondary"></p-button>
        <p-button label="Login" (onClick)="onLogin()" [loading]="loginInProgress" [disabled]="loginInProgress"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
