.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0d635c;
}

.login-card {
  width: 60vh;
  height: 150%;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 10px;
  padding: 6px;
}

.full-width {
  width: 100%;
}
